//# 0: Basic resets;
//@import "variables";
* {
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

html {
    // overflow-x: hidden!important;
    max-width: 100vw!important;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    overflow-x: hidden !important;
    //border: $spacer*2 solid $body-bg;
    // padding: $navbar-height 0;
    margin: 0!important;
    padding: 0!important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// scrollbar
*::-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0;
    visibility: hidden;
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

//IE workaroud 
main,
.site-main,
#page,
.site {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}


/*
div p a {
    border-bottom: 4px solid #29FFFF!important;
}

div p a {
    border-bottom: 4px solid #29FFFF!important;
}

a {
    border-bottom: 4px solid $secondary!important;
}

a span {
    border-bottom: 4px solid $secondary!important;
}

a {
    color: $secondary;
}
//*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-sans-serif!important;
}

p {
    color: $gray-800;
    font-family: $font-family-serif!important;
    font-size: 1.15rem;
}

.font-serif {
    font-family: $font-family-serif!important;
}

.font-sans {
    font-family: $font-family-sans-serif!important;
}

i.conclusion {
    font-family: $font-family-sans-serif!important;
    max-height: 2rem;
    margin-top: 24px;
    font-weight: 700;
}

i.conclusion ::before {
    position: absolute;
    content: "\f2ba";
    font: normal normal normal 14px/1 FontAwesome;
    right: 40%;
    color: $secondary;
    bottom: 0;
    height: 30px;
    width: 60px;
    // background: green;
    z-index: 1;
}