/*
* Table of contents
* 
* +General stuff 
* +Google maps
*/


/*
* +General stuff
*/

body {
    overflow-x: hidden!important;
    overflow-y: scroll;
}

a {
    border-bottom: 4px solid $secondary!important;
}

a span {
    border-bottom: 4px solid $secondary!important;
}