/*
* Table of contents
* 
* +General stuff 
* +Google maps
*/


/*
* +General stuff
*/

html {}

body {
    overflow-x: hidden!important;
    overflow-y: scroll;
}

.section {}


/*
* +Google maps
*/

.map {
    //    width: 100%;
    //    height: 400px;
}

a {
    border-bottom: 4px solid $secondary!important;
}

a span {
    border-bottom: 4px solid $secondary!important;
}