@import "../variables";
//@import "../base";
.button {
    padding: 16px;
    //*
    display: inline-block;
    min-height: 48px; //  
    min-width: 120px;
    color: $white;
    background-color: $dark;
    //background: linear-gradient(90deg, $secondary 0%, $primary 50%);
    //background-position: right;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    line-height: $input-btn-line-height;
    //letter-spacing: .8px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    //border: 4px solid $secondary;
    border-radius: 0;
    //outline: 0;
    border: 2px solid $secondary;
    transition: border-radius .3s;
    box-shadow: $box-shadow;
    //*/
    p {
        margin: auto
    }
    &:focus,
    &:hover {
        //  color: #fff;
        color: $secondary;
        line-height: $input-btn-line-height;
        border: 2px solid $secondary;
        border-radius: 48px;
    }
    &--primary {
        background-color: $primary;
        background: none!important;
    }
    &--scrollToTop {
        @extend .d-flex,
        .text-center;
        display: flex;
        width: 32px!important;
        height: 32px!important;
        background-color: $dark!important;
        background: $dark!important;
        //border: none!important;
        border-radius: 50%!important;
        border: none!important;
        color: $white!important;
        cursor: pointer!important;
        font-size: $spacer!important;
        //height: $spacer*2!important;
        //width: $spacer*2!important;
        i {
            @extend .m-auto;
            color: $white;
        }
        /* place it at the bottom right corner */
        position: fixed!important;
        bottom: $spacer!important;
        right:$spacer!important;
        /* keep it at the top of everything else */
        z-index: 50;
        /* hide with opacity */
        opacity: 0;
        /* also add a translate effect */
        transform: translateY(100px);
        /* and a transition */
        transition: all .5s ease;
        @media only screen and (min-width: 200px) and (max-width: 768px) {
            /*
            display: none!important;
            visibility: hidden!important;
            //*/
        }
    }
    &--hero,
    &--transparent-primary {
        @extend .p-3;
        background: transparent;
        color: $white;
        border-color: $white;
        &:focus,
        &:hover {
            color: #fff;
            border-color: $white;
            background: $primary;
            text-decoration: none;
            outline: 0;
            box-shadow: none;
        }
    }
    &--primary {
        @extend .p-3;
        background: $primary!important;
        color: $white;
        border-color: $white;
        &:focus,
        &:hover {
            color: #fff;
            border-color: $primary;
            background: $primary;
            text-decoration: none;
            outline: 0;
            box-shadow: none;
        }
    }
    &--secondary {
        @extend .p-3;
        background: $secondary!important;
        color: $white;
        border-color: $white;
        &:focus,
        &:hover {
            //  color: $secondary;
            //  border-color: $secondary;
            //  background: $white;
            text-decoration: none;
            outline: 0;
            box-shadow: none;
        }
    }
    &--cta {
        @extend .btn,
        .my-auto,
        .text-uppercase;
        cursor: pointer;
        border: none!important;
        border-radius: 0!important;
        width: 137px; //
        font-weight: $font-weight-bold!important;
        @media (min-width: $screen-md-min) {
            //display: none;
        }
        &:hover {
            @extend .shadow;
            width: 137px; //
            font-weight: $font-weight-bold;
            @media (min-width: $screen-md-min) {
                //display: none;
            }
        }
    }
    &--fullwidth {
        width: 100%;
    }
    &--big {
        font-size: 18px;
        padding: 8px 24px;
    }
    @media screen and (min-width: 768px) {
        font-size: 14px;
    }
    &--small {
        font-size: 11px;
        padding: 3px 6px;
    }
    &--loading {
        &::after {
            content: "";
            display: inline-block;
            width: .8em;
            height: .8em;
            margin-left: 5px;
            border: 2px solid currentColor;
            border-bottom: 2px solid transparent;
            border-radius: 50%;
            animation: fa-spin 1s infinite linear;
        }
    }
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.showBtn {
    opacity: 1;
    transform: translateY(0)
}

.cn-button.bootstrap {
    color: #fff!important;
    background: $primary!important;
}