/*
* +hero
*/

.hero {
    //
    min-height: 99vh;
    margin: 0 0 0 0!important;
    padding: 0!important;
    display: flex;
    background: $dark;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    z-index: 1;
    //*
    @media (max-width: $screen-lg-min) {
        height: auto!important;
    }
    /*
    &--home {
        @extend .h-100;
        height: calc(100vh - $navbar-height)!important;
        background-repeat: no-repeat!important;
        background-size: contain!important;
        background-position-x: right!important;
        background-position-y: bottom!important;
    }
    //*/
    /*
    &__slider {
        @extend .d-none,
        .d-md-block;
        margin: 0 0 0 0!important;
        padding: 0!important;
        position: absolute;
        width: 100vw;
        // height: calc(100vh - 36px);
        z-index: 1;
        &__img {
            @extend .container-fluid,
            .m-0,
            .p-0;
            height: calc(100vh - 36px)!important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.5;
            @media (max-width: $screen-md-min) {
                //    background-image: none!important;
            }
        }
    }
    //*/
    &__container {
        @extend .container,
        .h-100,
        .m-0,
        .d-flex,
        .px-md-4;
        min-height: calc(100% - $navbar-height)!important;
        //position: absolute;
        //z-index: 5;
        //background-image: $primary-gradient_background;i
        @media (max-width: $screen-md-min) {
            height: 100%!important;
        }
    }
    &__row {
        @extend .row;
        @extend .w-100;
        @extend .my-auto,
        .mx-0;
    }
    &__col {
        //@extend .h-50;
        //@extend .mx-auto;
        @extend .my-5,
        .my-md-auto;
        @extend .p-1;
        @extend .col-12;
        @extend .col-xl-9;
        //@extend .mt-5; //@extend .offset-lg-6;
        //@extend .offset-xl-6;
        @media (max-width: $screen-md-min) {
            //    background-image: none!important;
        }
        @media (max-width: $screen-md-min) {
            background: none;
            padding-top: $navbar-height*.5!important;
        }
        &--default {
            background: $overlay-gradient-background-default!important;
        }
        &--primary {
            background: $overlay-gradient-background-primary!important;
        }
        &--secondary {
            background: $overlay-gradient-background-secondary!important;
        }
    }
    &__title {
        @extend .display-1;
        margin-bottom: $spacer;
        font-weight: $font-weight-bold;
        font-size: 2.4rem;
        color: $white;
        font-family: $font-family-sans-serif;
        //line-height: 1rem;
        @media (max-width: 768px) {
            // margin-top: 16px;
            margin-bottom: 4px;
        }
        //text-shadow: $text-shadow;
        @media screen and (min-width: $screen-md-min) {
            @include font-size(3.5rem);
        }
    }
    &__subtitle {
        font-size: 2.4rem;
        color: $white;
        margin-bottom: $spacer*3;
    }
    &__content {
        @extend .mb-auto;
        // text-align: left ;
        span,
        p,
        a {
            font-size: $font-size-base;
            line-height: $font-size-base*1.7;
            color: $white;
            //margin-bottom: $paragraph-margin-bottom;
            @media (min-width: $screen-md-min) {
                font-size: 18px;
                text-align: left;
            }
            @media (max-width: $screen-sm-min)and (orientation:"portrait") {
                font-size: 14px;
            }
        }
    }
    &__overlay {
        //used on homepage
        @extend .h-100;
        @extend .w-100;
        @extend .m-0;
        @extend .p-0;
        @extend .d-flex;
        height: 100%!important;
        min-height: 99vh!important;
        background-size: cover!important;
        overflow: hidden!important;
        //background: $overlay75;
        &--default {
            background: $overlay-gradient-background-default!important;
        }
        &--primary {
            background: $overlay-gradient-background-primary!important;
        }
        &--secondary {
            background: $overlay-gradient-background-secondary!important;
        }
    }
    &--page {
        height: 75%;
        max-height: calc(70vh - $navbar-height);
        min-height: calc(50vh - $navbar-height);
        margin: 0 0 0 0!important;
        padding: 0!important;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw!important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-position: center center !important;
        @media (max-width: $screen-lg-min) {
            height: auto;
            // min-height: auto;
        }
        &__container {
            @extend .container,
            .d-flex;
        }
        &__row {
            @extend .row;
            @extend .w-100;
            @extend .mx-0,
            .my-auto;
            // margin-top: $navbar-height;  
        }
        &__overlay {
            @extend .h-100,
            .w-100,
            .mx-0,
            .p-0,
            .d-flex,
            .mb-0;
            @media (max-width: $screen-lg-min) {
                margin-top: $navbar-height;
                //min-height: calc(100vh - $navbar-height);
                // min-height: auto;
            }
            &--default {
                background: $overlay-gradient-background-default!important;
            }
            &--primary {
                background: $overlay-gradient-background-primary!important;
            }
            &--secondary {
                background: $overlay-gradient-background-secondary!important;
            }
        }
    }
}