.footer {
    @extend .text-light,
    .m-0,
    .w-100;
    padding: 1rem 2rem;
    p {
      color : $light;
      margin-bottom: 0;
    }
    nav {
      ul {
        @extend .m-0,
        .p-0;
//        flex-direction: column;
//        height: 100px;
        li {
          @extend .m-0;
        }
        a.nav-link,
        a.nav-link:visited {
          @extend .py-2;
          color: $secondary !important;
          font-family: $font-title;
          font-weight: $weight-bold;
          text-align: center;
        }
      }  
    }
    &__container {
        @extend .container;
        margin: 0 auto;
    }
    &__col {
        @extend .col-sm-12,
        .col-lg-9,
        .col-xl-6,
        .p-0;
    }
    &__row,
    &__body {
        @extend .row,
        .my-4;
    }
    &__row {
        @extend .mx-auto;
}
}
