.header {
    @extend .d-none,
    .d-lg-block,
    .d-xl-block,
    .py-0;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0)!important;
    width: 100vw!important;
    z-index: 9999;
    &__container {
        @extend .container-fluid;
    }
    &__row {
        @extend .row;
        width: 100%;
    }
    &__col {
        @extend .col-1;
    }
    &__menu {
        width: 100%;
    }
    .overheader {
        @extend .container-fluid,
        .bg-dark,
        .d-none,
        .d-lg-flex,
        .w-100,
        .m-0;
        height: 36px;
        color: $white;
    }
    ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    a.nav-link {
        @extend .pb-3;
        font-family: $font-family-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        // border-top: 2px solid rgba(255, 255, 255, 0);
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        &:focus,
        &:hover {
            transition: all 300ms;
            // border-top: 2px solid rgba(255, 255, 255, 1);
            border-bottom: 2px solid rgba(255, 255, 255, 1);
        }
    }
    &__brand {
        width: 100%;
        //    @extend .my-auto;
        margin: 0 auto;
        &__logo {
            @extend .d-flex;
            @extend .h-100,
            .p-0;
            margin: auto;
            img {
                height: 200px;
                margin: auto;
            }
        }
    }
}

.header-mobile {
    height: 96px;
    width: 100vw!important;
    background: rgba($dark, 1);
    color: $white;
    position: fixed;
    z-index: 99999!important;
    @extend .navbar,
    .p-0,
    .m-0,
    .d-block,
    .d-lg-none;
    &__container {
        @extend .container-fluid,
        .d-flex,
        .p-0,
        .h-100,
        .w-100;
        //border: 1px solid red;        
    }
    &__row {
        @extend .d-flex,
        .justify-content-between,
        .my-0,
        .mx-0,
        .p-3,
        .w-100;
        justify-content: space-between;
    }
    &__col {
        @extend .col-4,
    }
    &__brand {
        @extend .my-auto,
        .p-0;
        width: auto;
        margin: 0 auto;
        a {
            //    display: flex;
        }
        a.nav-link {
            color: $white !important;
            font-family: $font-family-sans-serif;
            font-weight: 600;
        }
        &__logo {
            @extend .d-flex;
            //  @extend .ml-1!optional;
            @extend .h-100,
            .py-0,
            .my-auto,
            .px-0;
            //   margin-right: auto;
        }
        img {
            height: 80px;
        }
        &__name {}
    }
    &__burger {
        @extend .d-block,
        .d-lg-none,
        .d-xl-none,
        .my-auto,
        .p-0;
        cursor: pointer;
        margin-left: auto!important;
        margin-right: 0!important;
        @media (max-width: $screen-lg-min) {
            display: none;
        }
        &--visible {
            display: block;
        }
        &--hidden {
            display: none;
            visibility: hidden;
            width: 0!important;
            margin: 0!important;
            padding: 0!important;
        }
    }
    &__cta {
        @extend .button,
        .my-0,
        .h-100,
        .text-uppercase;
        margin-left: auto;
        margin-right: $spacer;
        cursor: pointer;
    }
    &__language {
        @extend .col-3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-title;
        font-weight: $weight-bold;
        color: $secondary!important;
        @include media-breakpoint-up(sm) {
            flex-direction: row;
        }
        @include media-breakpoint-up(lg) {
            margin: 0 auto;
        }
    }
}

.mobile-menu {
    @extend .w-100,
    .d-flex;
    position: fixed!important;
    min-height: 100vh!important;
    //top: 80px;
    z-index: 100!important;
    //margin-top: 0!important;
    background: $dark !important;
    transition: .9s 0s ease-in-out;
    a.nav-link {
        color: $primary !important;
        font: font-title;
        font-weight: $weight-bold;
    }
    &--visible {
        left: 0;
        opacity: 1;
    }
    &--hidden {
        left: 100%;
        visibility: hidden;
        opacity: 0;
    }
    &__menu {
        @extend .mt-4,
        .w-100,
        .mx-auto,
        .d-flex;
        //@extend .navbar-menu-lg!optional;
        //border: 1px solid ;
        //display: none;
        padding: 0;
        color: $gray-500;
        font-weight: $font-weight-normal;
        >ul {
            @extend .m-auto,
            .p-0;
            display: block;
        }
        li {
            @extend .mx-auto;
            padding: $spacer $spacer/4;
        }
        a {
            user-select: none;
            font-size: 18px;
            text-emphasis-color: $secondary;
        }
        a.nav-link {
            color: $white!important;
            font-family: $font-family-sans-serif;
            font-weight: 600;
            text-align: center;
            &:hover,
            &:focus {
                color: $secondary!important;
                text-decoration: underline;
            }
        }
        .menu-item a.nav-link {
            color: $white;
        }
        .menu-item a:hover,
        .menu-item a:focus {
            // color: $primary!important;
        }
        .current-menu-item.active a {
            //color: $primary!important;
            //text-decoration: none;
            //font-weight: $font-weight-bolder;
            //border-left: solid 2px #fff;
        }
        .dropdown.active .dropdown-toggle.nav-link {
            color: $primary!important;
            text-decoration: none;
            font-weight: $weight-bold;
            &:hover,
            &:focus {
                color: $primary!important;
                text-decoration: underline;
            }
        }
        a.dropdown-toggle.nav-link {
            word-wrap: nowrap;
            height: 100%;
            font-weight: 400 !important;
            font-size: 16px!important;
            text-align: left;
            cursor: pointer;
            text-decoration: none;
            font-weight: $font-weight-bolder!important;
            font-size: 16px!important;
            &:focus,
            &:hover {
                transition: 300ms;
                border-bottom: none!important;
                text-decoration: underline;
            }
        }
        .dropdown-item {
            color: $dark!important;
            font-weight: $font-weight-bolder!important;
            &:hover,
            &:focus {
                background-color: #fff!important;
            }
        }
    }
}

//.scroll {
//    background: $light!important;
//}