h2 {
  font-family: $font-title;
  text-transform: uppercase;
}

h3 {
  font-family: $font-title;
  font-weight : 300;
  text-transform: uppercase;
}

p {
  font-family: $font-base;
  color : $dark;
}

.presentation {
  background : $light;
}

.controle {
  background : $dark;
  color : $light;
}

.controle p {
  color : $light;
}

.price {
  font-size: 2em;
}

.quoter {
  min-width : 50%;
}

.quote-title {
  display: flex;
  justify-content: space-between;
}

.img-circle {
  display : inline-block;
}
.quote {
  position: relative;
  color : $primary;
}

.quotations img {
  overflow: hidden;
  border-radius: 100%;
  max-width: 100px;
}

.card-value {
  color : $light;
  text-align: center;
  background-image: linear-gradient(-135deg, #5D7CBA 0%, #29D1D1 100%);
  box-shadow: inset -2px -2px 8px 2px rgba(247,255,255,0.35), inset 2px 2px 8px 2px rgba(0,35,105,0.35);
  border-radius: 10px;
}

.card-value .picto {
  border : $light solid 5px;
  margin : 0 auto;
  border-radius: 100%;
  width : 50px;
  height : 50px;
}

.card-value p {
  color : $light;
}
