h2 {
  font-family: $font-title;
  text-transform: uppercase;
  font-weight: $weight-bold;
}

h3 {
  font-family: $font-title;
  font-weight : $weight-light;
  text-transform: uppercase;
}

p {
  font-family: $font-base;
  color : $dark;
  font-weight: $weight-light;
}

.quoter {
  min-width : 50%;
}

.quote-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h3 {
      text-align: right;
  }
}

.quote:nth-of-type(even) {
  .quote-title {
    flex-direction: row-reverse;
    h3 {
      text-align: left;
    }
  }
}

.img-circle {
  display : inline-block;
}
.quote {
  position: relative;
  color : $primary;
  p {
    font-weight: weight-bold;
  }
}

.img-container {
  display: flex;
  justify-content: flex-end;
}

.quotations img {
  overflow: hidden;
  border-radius: 100%;
  max-width: 100px;
}
