.quoter {
  min-width : 50%;
}

.img-circle {
  display : inline-block;
}
.quote {
  position: relative;
  color : $primary;
  transition: 0.5s 0s ease-in-out;
  p {
    font-weight: weight-bold;
  }
}

.quote-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h3 {
      text-align: left;
  }
}


.quote:nth-of-type(even) {
  .quote-title {
    flex-direction: row-reverse;
    h3 {
      text-align: right;
    }
  }
}

.img-container {
  display: flex;
  justify-content: flex-end;
}

.quotations img {
  overflow: hidden;
  border-radius: 100%;
  max-width: 100px;
}

.show {
  opacity: 1;
  left: 0;
  right: 0;
  transition: .5s 0s ease-in-out;
}
